doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href=`${config.assetPath}css/accessible-autocomplete.min.css`)
    link(rel="stylesheet" href=`${config.assetPath}css/transit-departures-widget-styles.css`)
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    script(src=`${config.assetPath}js/pbf.js`)
    script(src=`${config.assetPath}js/gtfs-realtime.browser.proto.js`)
    script(src=`${config.assetPath}js/accessible-autocomplete.min.js`)
    script(src=`${config.assetPath}js/transit-departures-widget.js`)

  body
    block content
