#real_time_arrivals.container.transit-arrivals-widget
  .card.mx-auto.my-5
    .card-body
      h2= __('Realtime Arrivals')
      .form-group
        .btn-group.btn-group-toggle(data-toggle="buttons")  
          label.btn.btn-primary.active
            input(type="radio" name="arrival_type" value="stop_id" checked)
            span= __('By Stop ID')
          label.btn.btn-primary
            input(type="radio" name="arrival_type" value="route")
            span= __('By Route') 

      form#stop_id_form
        .form-group.text
          #arrival_stop_code_container(data-placeholder=__('Search by stop name or id') data-stop-code-all=__('all'))

        .stop-code-invalid= __('Invalid stop ID')  
        .form-group
          button.btn.btn-primary.btn-block(type="submit")= __('Get Arrivals')

      form#route_form.hidden-form
        .form-group.select
          select.form-control#arrival_route(name="route")
            option(value="")= __('Choose a route')
            each route in routes
              option(value=route.route_id)= route.route_full_name
        
        .form-group.select
          select.form-control#arrival_direction(name="direction" disabled)
            option(value="")= __('Choose a direction')
        
        .form-group.select
          select.form-control#arrival_stop(name="stop" disabled)
            option(value="")= __('Choose a stop')

      #loading.loader #{__('Loading')}...

      #arrival_results.arrival-results
        .arrival-results-header
          .arrival-results-stop
          .arrival-results-stop-unknown= __('Unknown Stop')
          button.arrival-results-fetchtime(title=__('Refresh'))
            span #{__('As of')}&nbsp;
            span.arrival-results-fetchtime-time
        .arrival-results-stop-code-container
          span #{__('Stop ID')}&nbsp;
          span.arrival-results-stop-code
        .arrival-results-container(data-minutes-label=__('min'))
        .arrival-results-none= __('No upcoming arrivals')
        .arrival-results-error= __('Unable to fetch arrivals')

script.
  (function() {
    const routes = !{JSON.stringify(routes)};
    const stops = !{JSON.stringify(stops)};
    const config = {
      gtfsRtTripupdatesUrl: '#{config.agency.gtfs_rt_tripupdates_url}',
      refreshIntervalSeconds: #{config.refreshIntervalSeconds},
      timeFormat: '#{config.timeFormat}'
    }
    setupTransitArrivalsWidget(routes, stops, config);
  })()
