#real_time_departures.transit-departures-widget
  .widget-card
    .widget-card-body
      h2= __('Realtime Departures')
      .widget-section
        .widget-btn-group.widget-btn-group-two(data-label="Lookup Type")
          input#departure_type_stop_id.widget-btn-check(type="radio" name="departure_type" value="stop" checked)
          label.widget-btn.widget-btn-outline-primary(for="departure_type_stop_id") By Stop
          input#departure_type_route.widget-btn-check(type="radio" name="departure_type" value="route")
          label.widget-btn.widget-btn-outline-primary(for="departure_type_route") By Route

      form#stop_form
        .widget-section
          #departure_stop_code_container(data-placeholder=__('Search by stop name or stop code') data-stop-code-all=__('all'))

        .stop-code-invalid= __('Invalid stop code')  
        .widget-button-row
          button.widget-btn.widget-btn-primary(type="submit")= __('Get Departures')

      form#route_form.hidden-form
        .widget-section
          select.widget-select#departure_route(name="route")
            option(value="")= __('Choose a route')
        
        .widget-section
          select.widget-select#departure_direction(name="direction" disabled)
            option(value="")= __('Choose a direction')
        
        .widget-section
          select.widget-select#departure_stop(name="stop" disabled)
            option(value="")= __('Choose a stop')

      #loading.loader #{__('Loading')}...

      #departure_results.departure-results
        .departure-results-header
          .departure-results-stop
          .departure-results-stop-unknown= __('Unknown Stop')
          button.departure-results-refresh-button(title=__('Refresh'))
            span #{__('As of')}&nbsp;
            span.departure-results-fetchtime
        .departure-results-stop-code-container
          span #{__('Stop Code')}&nbsp;
          span.departure-results-stop-code
        .departure-results-container(data-minutes-label=__('min'))
        .departure-results-none= __('No upcoming departures')
        .departure-results-error= __('Unable to fetch departures')

script.
  (async function() {
    const routes = await fetch('data/routes.json').then(res => res.json())
    const stops = await fetch('data/stops.json').then(res => res.json())
    setupTransitDeparturesWidget(routes, stops, {
      gtfsRtTripupdatesUrl: '#{config.agency.gtfs_rt_tripupdates_url}',
      refreshIntervalSeconds: #{config.refreshIntervalSeconds},
      timeFormat: '#{config.timeFormat}'
    })
  })()
