#real_time_departures.container.transit-departures-widget
  .card.mx-auto.my-5
    .card-body
      h2= __('Realtime Departures')
      .form-group
        .btn-group.btn-group-toggle(data-toggle="buttons")  
          label.btn.btn-primary.active
            input(type="radio" name="departure_type" value="stop" checked)
            span= __('By Stop')
          label.btn.btn-primary
            input(type="radio" name="departure_type" value="route")
            span= __('By Route') 

      form#stop_form
        .form-group.text
          #departure_stop_code_container(data-placeholder=__('Search by stop name or stop code') data-stop-code-all=__('all'))

        .stop-code-invalid= __('Invalid stop code')  
        .form-group
          button.btn.btn-primary.btn-block(type="submit")= __('Get Departures')

      form#route_form.hidden-form
        .form-group.select
          select.form-control#departure_route(name="route")
            option(value="")= __('Choose a route')
        
        .form-group.select
          select.form-control#departure_direction(name="direction" disabled)
            option(value="")= __('Choose a direction')
        
        .form-group.select
          select.form-control#departure_stop(name="stop" disabled)
            option(value="")= __('Choose a stop')

      #loading.loader #{__('Loading')}...

      #departure_results.departure-results
        .departure-results-header
          .departure-results-stop
          .departure-results-stop-unknown= __('Unknown Stop')
          button.departure-results-fetchtime(title=__('Refresh'))
            span #{__('As of')}&nbsp;
            span.departure-results-fetchtime-time
        .departure-results-stop-code-container
          span #{__('Stop Code')}&nbsp;
          span.departure-results-stop-code
        .departure-results-container(data-minutes-label=__('min'))
        .departure-results-none= __('No upcoming departures')
        .departure-results-error= __('Unable to fetch departures')

script.
  (async function() {
    const routes = await fetch('data/routes.json').then(res => res.json())
    const stops = await fetch('data/stops.json').then(res => res.json())
    setupTransitDeparturesWidget(routes, stops, {
      gtfsRtTripupdatesUrl: '#{config.agency.gtfs_rt_tripupdates_url}',
      refreshIntervalSeconds: #{config.refreshIntervalSeconds},
      timeFormat: '#{config.timeFormat}'
    })
  })()
